
/* componente Header */

.text-header {
color: #FFF;
font-family: Gotham;
font-size: 12px;
font-style: normal;
font-weight: 400;
line-height: normal;
letter-spacing: 4px;
text-transform: uppercase;
}

.text-header-idiomas {
    color: #FFF;
font-family: Gotham;
font-size: 14px;
font-style: normal;
font-weight: 700;
line-height: normal;
letter-spacing: 4px;
text-transform: uppercase;
}
